.orb-container {
    position: relative;
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><circle cx="5" cy="5" r="2" fill="black"/></svg>');
    display: flex;
    justify-content: center;
    border: red 1px solid;
   
    /* Adjust padding as needed */
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}